{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-console": ["warn"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
